/* datos personales Moisés Montes Iglesias - uo296102 */
/* Estilos generales del proyecto MotoGP-Desktop */

body {
    font-family: "Calibri", Arial, sans-serif;
    background-color: #f9f1f0;
}

h1, h2, nav {
    color: #145da0;
}

header {
    color: #d6ad60;
}


