header {
    display: flex; /*Activa FlexBox*/
    flex-direction: row; /*Posicion horizontal*/
    justify-content: space-between; /*Coloca h1 a la izquierda y nav a la derecha*/
    align-items: center; /*Centra verticalmente el contenido*/
    padding: 0.5em; /*Espacio para no pegarse en los bordes*/

}
header nav {
    display: flex;
    flex-wrap: wrap; /*Permite que los enlaces pasen a otra línea si no caben*/
    flex-direction: row;
    padding: 1em;
}
header nav a {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    padding: 1em;
    font-size: 1rem; /*Tamaño base del texto*/
    min-width: 100px; /*Evita que se haga excesivamente pequeño*/
}

/*
Video, audio {
    width: 100%;
    height: auto;
}
*/

@media (min-width: 320px) and (max-width: 799px) { /*Se cambia a lo de dentro cuando se cumpla la condicion*/
    header {
        flex-direction: column; /*Redefinición de display*/
        align-items: center; /*Redefinición de align-items*/
    }

    header nav {
        display: flex; /*Redefinición de display*/
        flex-wrap: wrap; /*Redefinición de flex-wrap ==== que permite que los enlaces pasen a otra línea si no caben*/
        flex-direction: column; /*Redefinición de flex-direction*/
        align-items: center;
        gap: 0.5em;
    }
    header nav a {
        flex: none;
        text-align: center;
        padding: 0.7em 0; /*Redefinición de padding-bottom,padding-right, padding-left y padding-top */
        font-size: 0.9rem;  /*Redefinición de font-size*/
    }

    nav[aria-label="miga-de-pan"] {
        display: none; /* Ocultar contenido */
    }

}